.tw-card-article {
  display: flex;
  justify-content:space-between;
  align-items: center;
  font-size: .8rem;
}

.tw-card-header {
  display: flex;
  gap: 8px;
}

.tw-img-avatar {
  width: 48px;
  height: 48px;
  border-radius: 1000px;
}

.tw-card-info {
  display: flex;
  flex-direction: column;
  color: #fff;
  font-size: 1.3em;
}

.tw-card-username {
  color: grey;
}

.tw-card-follow-button {
  align-self: center;
  cursor: pointer;
  margin-left: 16px;
  padding: 6px 16px;
  border-radius: 100px;
  font-weight: bold;
  border: 1px solid #000;
  transition: .3s ease background-color;
  border: 0px;
  align-self: center;
}


.tw-card-follow-button:hover {
  opacity: .8;
}

.tw-card-follow-button.button-is-following {
  color: #fff;
  border-color: #fff;
  background-color: #000;
}

.tw-card-follow-button.button-is-following:hover {
  color: crimson;
  border: solid 1px red;
  background-color: rgba(238, 13, 13, 0.2);
  transition: .3s ease all;
}

.tw-card-follow-button.button-is-following:hover .tw-followCard-text {
  display: none;
}

.tw-followCard-stopFollow
{
  display: none;
}

.tw-card-follow-button.button-is-following:hover .tw-followCard-stopFollow
{
  display: block;
}